<MudNavMenu Class="nav-menu">
    <div class="menu-item">
        <MudNavLink Href="/FC" Icon="@Icons.Material.Outlined.Dashboard">
            Find Bane
        </MudNavLink>
    </div>
    <div class="menu-item">
        <MudNavLink Href="/CCT" Icon="@Icons.Material.Outlined.Dashboard">
            Bane værktøj
        </MudNavLink>
    </div>
    <div class="menu-item">
        <MudNavLink Href="#!" Icon="@Icons.Material.Outlined.Dashboard">Chat</MudNavLink>
    </div>
</MudNavMenu>

<style>
    .nav-menu {
        display: flex;
        justify-content: center;
    }

    .menu-item {
        margin: 0 10px;
    }
</style>
